.formulario {
    padding: 30px;
    border: 10px $red1 inset;
    font-size: 40px;
    background: $gradiante1;
}
.marco{
    border: rgb(79, 79, 79) solid 3px;
}
.campo{
    font-family: $tipografia2;
}